CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_FULL=y
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_IDF_TARGET="esp32"
CONFIG_RELAY_GPIO=22
CONFIG_WIFI_SSID="EleringTest"
CONFIG_WIFI_PASSWORD="testpass1234"
CONFIG_HTTPD_MAX_REQ_HDR_LEN=1024
